<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>APP WEB HTML</h1>

    <form action="/dados" method="post">
        <h5>Nome:</h5>
        <input type="text" id="nome"  name="nome">
        <h5>Telefone:</h5>
        <input type="text" id="telefone" name="telefone">
        <h5>Endereço</h5>
        <input type="text" id="endereco" name="endereco">
        <h5>Data de agendamento</h5>
        <input type="date" id="data" name="data">
        <input type="submit" value="enviar">
    </form>
</body>
</html>